<div class="col-md-6 add">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Title:</label>
        <input type="name" formControlName="name" placeholder="title" name="name" class="form-control" id="name">
      </div>
  
      <div class="form-group">
        <label for="description">Note:</label>
        <input formControlName="description" placeholder="notes" name="description" class="form-control" id="description">
      </div>
      <button class="btn btn-success">add</button>
      <br>
    </form>
  </div>
